.subtitulo2 {
    background-color: black;
    color: white;
    padding: 1rem;
    margin-left: -4%;
    margin-right: -4%;
    display: flex;
    margin-top: -25px;
}


.subtitulo3 {
    text-decoration:underline;
}

h2 {
    font-size: 40px;
}